.formControl.error input,
.formControl.error textarea {
    border: solid red 1px;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    color: red;
}

.remember {
    padding-left: 20px;
}

.profileBlock {
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    display: grid;
    grid-template-areas:
            "b1 b2"
            "b4 b5"
            "eb eb";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    overflow: auto;
}

.Block1 {
    grid-area: b1;
    padding-top: 5px;
    padding-left: 5px;
}
.Block2 {
    grid-area: b2;
    padding-top: 5px;
}
.Block4 {
    grid-area: b4;
    padding-top: 5px;
    padding-left: 5px;
}
.Block5 {
    grid-area: b5;
    padding-top: 5px;
}
.editButton {
    grid-area: eb;
    padding-bottom: 5px;
    padding-left: 5px;
}
