/*.contactsBlock {
    display: grid;
    grid-template-areas:
            "cb cb cb cb"
            "cb cb cb cb";

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

}*/

.contacts {
    grid-area: cb;
}

.mainBlock {
    display: grid;
    grid-template-areas:
    "pb db";
    grid-template-rows: 1fr;
    grid-template-columns: 300px 1fr;
    grid-gap: 10px;
}
.photoBlock {
    grid-area: pb;
}
.dataBlock {
    grid-area: db;
}

.profileBlock {
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    display: grid;
    grid-template-areas:
            "b1 b2"
            "b4 b5"
            "eb eb";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    overflow: auto;
}

.Block1 {
    grid-area: b1;
    padding-top: 5px;
    padding-left: 5px;
}
.Block2 {
    grid-area: b2;
    padding-top: 5px;
}
.Block4 {
    grid-area: b4;
    padding-top: 5px;
    padding-left: 5px;
}
.Block5 {
    grid-area: b5;
    padding-top: 5px;
}
.editButton {
    grid-area: eb;
    padding-bottom: 5px;
    padding-left: 5px;
    align-items: center;
}

.grayText {
    color: gray;
}

.upload {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 10px;
}