/*.contactsBlock {
    display: grid;
    grid-template-areas:
            "cb cb cb cb"
            "cb cb cb cb";

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

}*/

.contacts {
    grid-area: cb;
}



.mainBlock {
    display: grid;
    grid-template-areas:
    "pb db";
    grid-template-rows: 1fr;
    grid-template-columns: 300px 1fr;
    grid-gap: 10px;


}
.photoBlock {
    grid-area: pb;
}
.dataBlock {
    grid-area: db;
}



.profileBlock {
    display: grid;
    grid-template-areas:
            "b1 b2"
            "b1 b3"
            "b1 b4"
            "bu b5";
    grid-template-rows: 1fr 1fr 1fr 30px;
    grid-template-columns: 300px 1fr;
    grid-gap: 10px;
}

.Block1 {
    grid-area: b1;
}
.BlockUpload {
    grid-area: bu;
}
.Block2 {
    grid-area: b2;
}
.Block3 {
    grid-area: b3;
}
.Block4 {
    grid-area: b4;
}
.Block5 {
    grid-area: b5;
}
.Block4 img{
    width: 30px;
    height: 30px;
    padding-left: 10px;
}

.grayText {
    color: gray;
}

.upload {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 10px;
}