.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding-top: 5px;
    padding-left: 10px;
}

.dialogsItem .active{
    color: orangered;
}

.message {
    padding-top: 5px;
    padding-left: 10px;
}